html, body {
    height: 100%;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.no-border{
    border: none;
}

.bg-purple {
    background-color: #3f1f69;
}
.hero-section {
    background-color: white;
    padding: 60px 0;
}

.hero-container {
    background-color: rgb(73, 48, 121);
    color: white;
    padding: 80px 0;
}

.hero-content h1 {
    font-size: 3rem;
}

.features-section {
    margin-top: 40px;
}

.features-section h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.cta-section {
    background-color: #33513a;
    color: white;
    padding: 60px 0;
    margin-bottom: 20px;;
}
.footer {
    background-color: #292d32;
    color: white;
    padding: 20px 0;
    margin-top: auto;

}
